<form action="/users" method="post">
    <label>Name</label>
    <input name="name">
    <label>Last name</label>
    <input name="last_name">
    <label>Age</label>
    <input name="age">
    <button>Send User</button>
</form>

<%- include("./partials/history", {users}) %> 
